#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #restart-button {
  background-image: url(../activity/restart.svg);
}

#main-toolbar #info-button {
  background-image: url(../activity/help.svg);
}

.palette {
  z-index: 9999999;
}

.palette .container {
  width: 100%
}
